//! **************************************************************************
// Written by: Map H.38 on Wed Dec 06 15:25:16 2006
//! **************************************************************************

SCHEMATIC START;
COMP "F" LOCATE = SITE "P46" LEVEL 1;
COMP "a" LOCATE = SITE "P89" LEVEL 1;
COMP "b" LOCATE = SITE "P88" LEVEL 1;
COMP "c" LOCATE = SITE "P87" LEVEL 1;
COMP "d" LOCATE = SITE "P86" LEVEL 1;
SCHEMATIC END;
