//! **************************************************************************
// Written by: Map H.38 on Wed Nov 15 15:15:36 2006
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P89" LEVEL 1;
COMP "cin" LOCATE = SITE "P59" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P87" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P86" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P84" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P82" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P81" LEVEL 1;
COMP "S<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "S<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "S<2>" LOCATE = SITE "P44" LEVEL 1;
COMP "S<3>" LOCATE = SITE "P43" LEVEL 1;
COMP "cout" LOCATE = SITE "P42" LEVEL 1;
SCHEMATIC END;
